
.single-product-item {
    border: 1px solid #95A0A7;
    border-radius: 10px;
    overflow: hidden;
}

img{
    max-width: 100%;
}

.product-header {
    padding: 6px;
    border-radius: 15px;
    overflow: hidden;
}

.single-product-item img {
    border-radius: 10px;
    margin-bottom: 10px
}

.product-header h3 {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.2;
}

.manufacturin {
    margin-top: 30px;
}

.add-to-cart-btn-area button {
    width: 100%;
    background: #FFE0B3;
    border-radius: 0 0 10px 10px;
    margin-top: 15px;
    outline: none;
    border: 0;
    border-top: 1px solid #95A0A7;
}

.add-to-cart-btn-area button:hover {
    outline: none;
    box-shadow: none;
    background: #fbd7a3;
    border: 0;
      border-top: 1px solid #95A0A7;
}

.add-to-cart-btn-area {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.single-product-item {
    position: relative;
    padding-bottom: 50px;
}