header.header-area {
    background: #1C2B35;
    padding: 15px 0;
}

header.header-area nav ul {
    text-align: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

header.header-area nav ul li {
    display: inline-block;
}

header.header-area nav ul li a {
    color: #fff;
    margin-left: 30px;
    font-weight: 300;
}

header.header-area .row {
    align-items: center;
}